POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_TABLE=users

DATABASE_URL=postgresql://your_username:your_password@db:5432/your_database_name

SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_KEY=your-supabase-key